CONFIG_TINYUSB_CDC_ENABLED=y
CONFIG_TINYUSB_CDC_COUNT=1

CONFIG_TINYUSB_MIDI_COUNT=1
CONFIG_IDF_TARGET="esp32s3"

CONFIG_LOG_DEFAULT_LEVEL_DEBUG=y
CONFIG_BOOTLOADER_LOG_LEVEL_NONE=y

CONFIG_MIDI_COMPANY_NAME="Metalbox"
CONFIG_MIDI_PRODUCT_NAME="Metalbox Synth"
CONFIG_MIDI_MIDI_DEVICE_ID="0001"
CONFIG_I2C_ENABLE_SLAVE_DRIVER_VERSION_2=y

#increase processor speed
CONFIG_ESP32S2_DEFAULT_CPU_FREQ_MHZ=240
CONFIG_WIFI_ENABLED=n
CONFIG_BT_ENABLED=n
CONFIG_ESP_NETIF_ENABLED=n
