CONFIG_IDF_TARGET="esp32s3"
CONFIG_CXX_EXCEPTIONS=y

#display ss1306
CONFIG_LV_USE_USER_DATA=y
CONFIG_LV_COLOR_DEPTH_1=y

CONFIG_LV_FONT_MONTSERRAT_10=y
CONFIG_LV_FONT_MONTSERRAT_12=y
CONFIG_LV_FONT_MONTSERRAT_14=y
CONFIG_LV_FONT_MONTSERRAT_16=y

# If you want 12 px to be the *default* font (i.e. LV_DEFAULT_FONT):
CONFIG_LV_FONT_DEFAULT_MONTSERRAT_14=y

CONFIG_LOG_DEFAULT_LEVEL_DEBUG=y
CONFIG_BOOTLOADER_LOG_LEVEL_NONE=y


# menu settings
CONFIG_HUMAN_INT_OFFSET=1

# increase nvs size with a custom partition
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000


